.DS_Store
.elasticbeanstalk
.idea

node_modules
app/node_modules
npm-debug.log

/dist
/app/public/
.tmp
.temp/
app/private/.temp/
.sass-cache

livecast.sublime-project
livecast.sublime-workspace
nohup.out
vclassroom.sublime-workspace

nbproject/