@import url('bootstrap.min.css');

.container div {
  outline: 0px solid gray;
  margin-top: 10px;
}

.shadow {
	box-shadow: 5px 5px 5px grey;
}

#login_div {
	padding-top: 100px;
	border: 2px solid blue;
	padding-bottom: 50px;
}

#login_div #my_nick {
	border: 2px solid blue;
}

#teacher {
	height: 90px;
	outline: 1px solid grey;
}
#students {
	padding-top: 5px;
	outline-left: 1px solid blue;
}

#chat {
  border: 1px solid gray;
}
#chat #messages {

}
#chat #inputlineEl {
  background: cyan;
}

header {
  margin: 1em 0 1em 0;
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
  text-align: center;
}

footer {
  margin: 1em;
  color: blue;
}


/*Video*/
#videos{
  text-align: center;
  list-style: none;
}
#videos li{
  position: relative;
}
#videos li a span{
  position: absolute;
  top: 3px;
  left: 6px;
  color: white;
  font-weight: bold;
  background-color: green;
  border-radius: 4px;
}
.flip{
  -webkit-transform: rotateY(180deg);
}