@import url('bootstrap.min.css');

.container div {
  outline: 0px solid gray;
  margin-top: 10px;
}

.shadow {
	box-shadow: 5px 5px 5px grey;
}

#login_div {
	padding-top: 100px;
	/*border: 2px solid blue;*/
	padding-bottom: 50px;
}


#teacher {
	height: 210px;
  text-align: center;
	/*outline: 1px solid grey;*/
}
#students {
	padding-top: 5px;
	outline-left: 1px solid blue;
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 800px;
    min-height: 200px;
}

/* Disable students panel*/
#students{
    display:none;
}

#chat {
	padding: 3px;
}
#chat #messages {
	outline: 1px solid gray;
	/*margin: 5px;*/
	min-height: 7em;
	max-height: 30em;
	overflow-y: auto;
}
#chat #inputlineEl {
  /*background: cyan;
  margin: 5px;*/
}

header {
  margin: 1em 0 1em 0;
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
  text-align: center;
}

footer {
  margin: 1em;
  color: blue;
}


/*Video*/
video{
  height: 200px;
}
#videos{
  text-align: center;
  list-style: none;
}
#videos li{
  position: relative;
}
.teacher a span{
  position: absolute;
}  
li a span{
  position: absolute;
  top: 3px;
  left: 6px;
  color: white;
  font-weight: bold;
  background-color: green;
  border-radius: 4px;
}
.flip{
  -webkit-transform: rotateY(180deg);
}