<!DOCTYPE html>
<html>
<head>
    <title><%=title%></title>
    <link href="stylesheets/style.css" rel="stylesheet">


</head>
<body>
    <div class="container ">
        <h1>Welcome to <%=title%></h1>
        <div>
            <h3>Server Time is:</h3>
            <h4 id="t"></h4>
            <button class="btn" id="refreshNowBtn">Refresh Now</button>
        </div>
    </div>



    <script src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
    <script src='/socket.io/socket.io.js'></script>
    <script>
        var socket = io.connect();

        $(document).ready(function(){
            //Socket protocol
            //Example event pushed from the server:
            socket.on('serverTime', function (message) {
                $('#t').html( message.time );
            });

            $('#refreshNowBtn').click(function () {
                socket.emit('refresh');
            });
        });

    </script>
</body>
</html>