<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title><%=title%></title>
    <link href="css/style.css" rel="stylesheet">


</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <a class="brand" href="#"><%=title%></a>
            <ul class="nav">
                <li class="active"><a href="#/view1">view1</a></li>
                <li><a href="#/view2">view2</a></li>
            </ul>
        </div>
    </div>
    <div class="hero-unit">
        <h1>Welcome to <%=title%></h1>

    </div>
    <div ng-view></div>
    <div class="container ">
        <div>
            <h3>Server Time is:</h3>
            <h4 id="t"></h4>
            <button class="btn" id="refreshNowBtn">Refresh Now</button>
        </div>
    </div>


    <script src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'></script>
    <script src="components/angular/angular.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
    

    <script src="js/main.js"></script>
    <script src='/socket.io/socket.io.js'></script>
    <script>
        var socket = io.connect();

        $(document).ready(function(){
            //Socket protocol
            //Example event pushed from the server:
            socket.on('serverTime', function (message) {
                $('#t').html( message.time );
            });

            $('#refreshNowBtn').on('click', function () {
                socket.emit('refresh');
            });
        });

    </script>
</body>
</html>